# Used by TypeORM cli to generating migrations
# These options won't be read by the server's TypeORM
TYPEORM_ENTITIES=src/db/entity/*.entity.ts
TYPEORM_MIGRATIONS=src/db/migration/*.ts
TYPEORM_MIGRATIONS_DIR=src/db/migration
TYPEORM_URL=postgres://username:password@host:port/database
