{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
    "parser": {
          "syntax": "typescript",
          "decorators": true,
          "dynamicImport": true
        },
        "baseUrl": "./",
        "paths": {
            "@/*": [ "src/*" ]
        }
    },
    "module": {
        "type": "commonjs",
        "noInterop": true
    }
}
