name: Main Workflow
on: [ push, pull_request ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "24.11.0"
          cache: "npm"
          cache-dependency-path: "package-lock.json"
      - name: Install dependencies
        env:
          CI: true
        run: npm install
      - name: Run lint
        env:
          CI: true
        run: npm run lint
      - name: Run Test
        env:
          CI: true
        run: npm run test
      - name: Run e2e Test
        env:
          CI: true
        run: |
          chmod +x ./test/run-e2e.sh
          npm run test:e2e
