name: Main Workflow
on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14.15.3"
      - name: Install dependencies
        env:
          CI: true
        run: npm install
      - name: Run lint
        env:
          CI: true
        run: npm run lint
      - name: Run Test
        env:
          CI: true
        run: npm run test
      - name: Run e2e Test
        env:
          CI: true
        run: npm run test:e2e
